@font-face {
  font-family: "ffad-matro-regular";
  src: url("/ffad-matro/ffad_matro-webfont.eot");
  src: url("/ffad-matro/ffad_matro-webfont.eot?#iefix") format("embedded-opentype"), url("/ffad-matro/ffad_matro-webfont.woff2") format("woff2"), url("/ffad-matro/ffad_matro-webfont.woff") format("woff"), url("/ffad-matro/ffad_matro-webfont.ttf") format("truetype"), url("/ffad-matro/ffad_matro-webfont.svg#ffad_matroregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
::selection {
  color: #ffffff;
  background-color: #6273D8;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: #14161D;
}

h1 {
  margin: 0px;
}

.header {
  width: 1000px;
  margin: 40px;
  max-width: calc(100% - 120px);
  align-items: center;
  display: flex;
}
.header .kh-logo {
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: block;
  margin-right: auto;
}
.header .nav-bar {
  font-family: "ffad-matro-regular";
  display: flex;
  justify-content: flex-end;
  position: relative;
  user-select: none;
}
.header .nav-bar .nav-item {
  cursor: pointer;
  outline: none;
}
.header .nav-bar .nav-item .text {
  padding: 5px 10px;
  white-space: nowrap;
  background-image: linear-gradient(to right, #DA4453, #89216B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) all;
  font-size: 16px;
  filter: grayscale(100%);
  opacity: 0.6;
}
.header .nav-bar .nav-item .text:hover, .header .nav-bar .nav-item .text:focus {
  opacity: 1;
}
.header .nav-bar .nav-item .text:active, .header .nav-bar .nav-item.current > .text, .header .nav-bar .nav-item .text.current {
  filter: none;
  opacity: 1;
}
.header .nav-bar .nav-item .submenu {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  display: flex;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) all;
}
.header .nav-bar .nav-item .submenu .text {
  transform: scale(0.7);
  font-size: 14px;
}
.header .nav-bar .nav-item:hover .submenu {
  transform: none;
  opacity: 1;
  pointer-events: all;
}
.header .nav-bar .nav-item:hover .submenu .text {
  transform: scale(1);
}

.social-media {
  float: left;
}
.social-media a {
  display: block;
  cursor: pointer;
  position: relative;
  user-select: none;
  float: left;
}
.social-media a svg {
  padding: 6px;
  display: block;
  pointer-events: none;
  width: 18px;
  height: 18px;
  fill: #494949;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) all;
  opacity: 0.6;
}
.social-media a:hover svg {
  opacity: 1;
}

.canvas-container {
  position: fixed;
  bottom: -130px;
  left: 0px;
  z-index: -1;
  width: 100%;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1) opacity;
}
.canvas-container.hidden {
  opacity: 0;
}
.canvas-container canvas {
  display: block;
}

.pages .page {
  width: 100%;
  left: 0px;
  align-items: center;
  flex-direction: column;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1) all;
  display: none;
  opacity: 0;
}
.pages .page.visible {
  display: flex;
  opacity: 1;
}
.pages .page .title {
  font-size: 36px;
  font-family: "ffad-matro-regular";
  background-image: linear-gradient(to right, #55e5fd, #7155fe, #f31d9e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*# sourceMappingURL=/index.css.map */