// linear-gradient(to right,#FF416C,#FF4B2B)
$darkest: #14161D
$dark-bg: #434756
$selection-color: #ffffff
$selection-bg-color: #6273D8
$transition: cubic-bezier(0.4, 0.0, 0.2, 1.0)

@font-face
    font-family: 'ffad-matro-regular'
    src: url('/ffad-matro/ffad_matro-webfont.eot')
    src: url('/ffad-matro/ffad_matro-webfont.eot?#iefix') format('embedded-opentype'), url('/ffad-matro/ffad_matro-webfont.woff2') format('woff2'), url('/ffad-matro/ffad_matro-webfont.woff') format('woff'), url('/ffad-matro/ffad_matro-webfont.ttf') format('truetype'), url('/ffad-matro/ffad_matro-webfont.svg#ffad_matroregular') format('svg')
    font-weight: normal
    font-style: normal

::selection
    color: $selection-color
    background-color: $selection-bg-color
body
  font-family: "Rubik", sans-serif
  margin: 0px
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  height: 2000px
a
  text-decoration: none
  color: $darkest
h1
  margin: 0px
.header
  width: 1000px
  margin: 40px
  max-width: calc(100% - 120px)
  align-items: center
  display: flex
  .logo
    width: 50px
    height: 50px
    display: block
    // margin: 30px
    margin-right: auto
  .menu
    font-family: 'ffad-matro-regular'
    display: flex
    justify-content: flex-end
    position: relative
    user-select: none
    .nav-item
      margin-right: 20px
      &:hover > .text
        opacity: 1
      .text
        // padding: 4px
        cursor: pointer
        white-space: nowrap
        background-image: linear-gradient(to right,#DA4453,#89216B)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        outline: none
        transition: 0.2s $transition all
        font-size: 16px
        filter: grayscale(100%)
        opacity: 0.5
        &:hover, &:focus
          opacity: 1
        &:active, &.current
          filter: none
          opacity: 1
        // &.in-submenu
      .submenu
        opacity: 0
        pointer-events: none
        position: absolute
        display: flex
        transition: 0.2s $transition all
        // transform: translateY(-10px)
        .nav-item
          margin-top: 10px
          transform: scale(0.7)
          font-size: 14px
      &:hover .submenu
        transform: none
        opacity: 1
        pointer-events: all
        .nav-item
          transform: scale(1)

      
  // .nav-bar
  //   font-family: 'ffad-matro-regular'
  //   margin-left: auto
  //   display: flex
  //   justify-content: flex-end
  //   .nav-item
  //     margin: 0px 10px
  //     padding: 10px
  //     cursor: pointer
  //     position: relative
  //     z-index: 2
  //     outline: none
  //     user-select: none
  //     transition: 0.2s $transition all
  //     opacity: 0.7
  //     background-image: linear-gradient(to right,#DA4453,#89216B)
  //     -webkit-background-clip: text
  //     -webkit-text-fill-color: transparent
  //     filter: grayscale(100%)
  //     &.current-page
  //       .nav-item-text
  //         filter: grayscale(100%)
  //         opacity: 1
  //     &:active
  //       .nav-item-text
  //         opacity: 1
  //     &:hover
  //       .nav-submenu
  //         opacity: 1
  //     .nav-submenu
  //       position: absolute
  //       display: flex
  //       opacity: 0

.social-media
  float: left
  // margin: 0px 10px
  // margin-right: auto
  // display: flex
  // justify-items: center
  // align-items: center
  // grid-gap: 10px
  // grid-template-columns: repeat(8, 1fr)
  // justify-content: space-around
  // height: 50px
  // width: 300px
  // max-width: 100%
  a
    // margin: 2px
    display: block
    cursor: pointer
    position: relative
    user-select: none
    float: left
    svg
      padding: 8px
      display: block
      pointer-events: none
      width: 20px
      height: 20px
      fill: $dark-bg
      opacity: 0.8
    &:hover svg
      opacity: 1
.canvas-container
    position: fixed
    bottom: -130px
    left: 0px
    z-index: -1
    width: 100%
    // transform: rotate(180deg)
    transition: 1s $transition opacity
    // opacity: 0.4
    &.hidden
      opacity: 0
    canvas
      display: block
.pages
  // margin-top: 10px
  .page
    display: none
    &.current
      display: block
    .title
      font-size: 26px
      font-family: 'ffad-matro-regular'
      background-image: linear-gradient(to right,#55e5fd,#7155fe,#f31d9e)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
    // .menu
    //   display: flex
    //   .menu-item
    //     font-family: 'ffad-matro-regular'
    //     font-size: 26px
    //     opacity: 0.7
    //     transform: scale(0.7)
    //     user-select: none
    //     padding: 10px
    //     cursor: pointer
    //     transition: 0.4s $transition all
    //     // background-image: linear-gradient(to right, $darkest, $darkest)
    //     background-image: linear-gradient(to right,#55e5fd,#7155fe,#f31d9e)
    //     filter: grayscale(100%) brightness(50%)
    //     -webkit-background-clip: text
    //     -webkit-text-fill-color: transparent
    //     &.current
    //       filter: grayscale(0%)
    //       transform: scale(1)
    //       opacity: 1
    //     &.left
    //       transform: scale(0.7) translateX(-20px)
    //     &.right
    //       transform: scale(0.7) translateX(20px)
