doctype html
html
  head
    title=title
    //- font
    link(href="https://fonts.googleapis.com/css?family=Rubik:400", rel="stylesheet")
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Marck+Script" rel="stylesheet">
    link(rel='stylesheet' type='text/css' href='/index.sass')
  body
    .header
      a.noreload.kh-logo(href='/')
        img.kh-logo(src='/img/kh-logo.png')
      .nav-bar
        .nav-item(tabindex=0)
          a.noreload.text(href='/work') Work
          .submenu
            a.nav-item.in-submenu.text(tabindex=0 href='/work/video') Video
            a.nav-item.in-submenu.text(tabindex=0 href='/work/art') Art
            a.nav-item.in-submenu.text(tabindex=0 href='/work/development') Development
        .nav-item(tabindex=0)
          a.noreload.text(href='/for-sale') For Sale
        .nav-item(tabindex=0)
          a.noreload.text(href='/synctan') Synctan
        .nav-item(tabindex=0)
          a.noreload.text(href='/lacuna') Lacuna
        .nav-item(tabindex=0)
          a.noreload.text(href='/contact') Contact
      .social-media
        a.twitter(target="_blank" title="Twitter" href="https://twitter.com/SpectralKH")
          include img/twitter.svg
        //- a.discord.has-popup(title="Discord")
        //-   include img/discord.svg
        //-   .popup.hidden KH#6425
        a.youtube(target="_blank" title="YouTube" href="https://youtube.com/SpectralKH")
          include img/youtube.svg
        a.instagram(target="_blank" title="Instagram" href="https://www.instagram.com/spckh/")
          include img/instagram.svg
        a.github(target="_blank" title="GitHub" href="https://github.com/SpectralKH")
          include img/github.svg
        //- a.facebook(target="_blank" title="Facebook" href="https://www.facebook.com/SpectralKH")
        //-   include img/facebook.svg
        //- a.email.has-popup(title="Email")
        //-   include img/email.svg
        //-   .popup.hidden kasperkh.kh@gmail.com
        //- a.soundcloud(target="_blank" title="SoundCloud" href="https://soundcloud.com/SpectralKH")
        //-   include img/soundcloud.svg
    .pages
      .page(data-page='/')
        h1.title Kasper Henningsen
        p.description There could be an awesome
      .page(data-page='/work')
        h1.title Work
        p.description There could be an awesome
      .page(data-page='/work/video')
        h1.title Video
        p.description There could be an awesome
      .page(data-page='/work/art')
        h1.title Art
        p.description There could be an awesome
      .page(data-page='/work/development')
        h1.title Development
        p.description There could be an awesome

      .page(data-page='/for-sale')
        h1.title For Sale
        p.description There could be an awesome

      .page(data-page='/synctan')
        h1.title Synctan
        p.description There could be an awesome
      .page(data-page='/lacuna')
        h1.title Lacuna
        p.description There could be an awesome
      .page(data-page='/contact')
        h1.title Contact
        p.description There could be an awesome
    script(src='/js/index.js')
