doctype html
html
  head
    title='KH - '+title
    //- font
    link(href="https://fonts.googleapis.com/css?family=Rubik:400", rel="stylesheet")
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Marck+Script" rel="stylesheet">
    link(rel='stylesheet' type='text/css' href='/index.sass')
  body
    .header
      img.logo(src='/img/kh-logo.png')
      .menu
        .nav-item
          .text(tabindex=0) Work
          .submenu
            .nav-item.in-submenu.text(tabindex=0) Video
            .nav-item.in-submenu.text(tabindex=0) Art
            .nav-item.in-submenu.text(tabindex=0) Development
        .nav-item
          .text(tabindex=0) For Sale
          .submenu
            .nav-item.in-submenu.text(tabindex=0) Video
            .nav-item.in-submenu.text(tabindex=0) Art
        .nav-item
          .text(tabindex=0) Synctan
        .nav-item
          .text(tabindex=0) Lacuna
        .nav-item
          .text(tabindex=0) Contact
      
      
      
        //- .nav-item(class=(page === 'work' ? 'current-page' : '') data-page='work')
        //-   .nav-item-text Work
        //-   .nav-submenu
        //-     .nav-item Video
        //-     .nav-item Art
        //-     .nav-item Development
        //- .nav-item(tabindex='0' class=(page === 'for-sale' ? 'current-page' : '') data-page='for-sale')
        //-   .nav-item-text For Sale
        //-   .nav-submenu
        //-     .nav-item Video
        //-     .nav-item Art
        //- .nav-item(tabindex='0' class=(page === 'synctan' ? 'current-page' : '') data-page='synctan')
        //-   .nav-item-text Synctan
        //- .nav-item(tabindex='0' class=(page === 'lacuna' ? 'current-page' : '') data-page='lacuna')
        //-   .nav-item-text Lacuna
        //- .nav-item(tabindex='0' class=(page === 'contact' ? 'current-page' : '') data-page='contact')
        //-   .nav-item-text Contact
      .social-media
        a.twitter(target="_blank" title="Twitter" href="https://twitter.com/SpectralKH")
          include img/twitter.svg
        //- a.discord.has-popup(title="Discord")
        //-   include img/discord.svg
        //-   .popup.hidden KH#6425
        a.youtube(target="_blank" title="YouTube" href="https://youtube.com/SpectralKH")
          include img/youtube.svg
        a.instagram(target="_blank" title="Instagram" href="https://www.instagram.com/spckh/")
          include img/instagram.svg
        a.github(target="_blank" title="GitHub" href="https://github.com/SpectralKH")
          include img/github.svg
        //- a.facebook(target="_blank" title="Facebook" href="https://www.facebook.com/SpectralKH")
        //-   include img/facebook.svg
        //- a.email.has-popup(title="Email")
        //-   include img/email.svg
        //-   .popup.hidden kasperkh.kh@gmail.com
        //- a.soundcloud(target="_blank" title="SoundCloud" href="https://soundcloud.com/SpectralKH")
        //-   include img/soundcloud.svg
    .pages
      .page.video
        h1.title Video
      .page.art
        h1.title Art
      .page.synctan
        h1.title Synctan
      .page.lacuna
        h1.title Lacuna
      .page.development
        h1.title Development
      .page.for-sale
      .page.contact
    script(src='/js/index.js')
